body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(34, 87, 122);
	background: linear-gradient(
		165deg,
		rgba(34, 87, 122, 1) 0%,
		rgba(56, 163, 165, 1) 50%,
		rgba(128, 237, 153, 1) 76%,
		rgba(128, 237, 153, 1) 100%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
